dbconstants.py
db_constants.py
restructure/plagcomps/dbconstants.py
intrinsic/serialized/*.pdf
intrinsic/serialized/*.png
intrinsic/serialized/*.csv
intrinsic/textAnalysis/*.txt

# Add these manually with git add -f figures/foo.pdf
figures/*.pdf
figures/*json
figures/overlap_viz/*.pdf

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Mac DS_Stores
*.DS_Store
